{define title}Kontakt{/define}
{define description}Kontaktujte nás prostřednictvím formuláře níže{/define}
{block content}

{* formulář pro kontakt *}
{control contactForm}


<h1 class="title is-1 has-text-centered sk-underline is-green">
  Vedení oddílu
</h1>

<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-narrow">
        <div class="box">
          <div class="media" style="flex-wrap: wrap;">
            <div class="media-left">
              <figure class="image is-128x128">
                <img class="is-rounded"
                  src="{$basePath}/img/contacts/poulik.jpg">
              </figure>
            </div>
            <div class="media-content content"
              <h3>Jan Pouchlý</h3>
              <p>hlavní vedoucí oddílu, vedoucí vlčat</p>
              <p>
                <strong>Přezdívka: </strong>Poulík<br />
                <strong>Mobil: </strong>732 570 211<br />
                <strong>Email: </strong>
                      <script type="text/javascript">
                      x1 = 'poulik';
                      x2 = '&#64;';
                      x3 = 'centrum';
                      x4 = '&#46;';
                      x5 = 'cz';
                      document.write( x1 + x2 + x3 + x4 + x5 );
                  </script>
              </p>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="media" style="flex-wrap: wrap;">
            <div class="media-left">
              <figure class="image is-128x128">
                <img class="is-rounded"
                  src="{$basePath}/img/contacts/edgar.jpg">
              </figure>
            </div>
            <div class="media-content content">
              <h3>Ondřej Pouchlý</h3>
              <p>vedoucí skautů</p>
              <p>
                <strong>Přezdívka: </strong>Edgar<br />
                <strong>Mobil: </strong>728 153 881<br />
                <strong>Email: </strong>
                      <script type="text/javascript">
                      x1 = 'ondrej.pouchly';
                      x2 = '&#64;';
                      x3 = 'centrum';
                      x4 = '&#46;';
                      x5 = 'cz';
                      document.write( x1 + x2 + x3 + x4 + x5 );
                  </script>
              </p>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="media" style="flex-wrap: wrap;">
            <div class="media-left">
              <figure class="image is-128x128">
                <img class="is-rounded"
                  src="{$basePath}/img/contacts/tuc.jpg">
              </figure>
            </div>
            <div class="media-content content"
              <h3>Lukáš Trumm</h3>
              <p>zástupce hlavního vedoucího</p>
              <p>
                <strong>Přezdívka: </strong>Tuč<br />
                <strong>Mobil: </strong>728 089 065<br />
                <strong>Email: </strong>
                      <script type="text/javascript">
                      x1 = 'lukas.trumm';
                      x2 = '&#64;';
                      x3 = 'gmail';
                      x4 = '&#46;';
                      x5 = 'com';
                      document.write( x1 + x2 + x3 + x4 + x5 );
                  </script>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1 class="title is-1 has-text-centered sk-underline is-orange">
  Klubovny
</h1>

<div class="columns is-centered">
  <div class="column is-narrow">
      <img src="img/contacts/stredisko.jpg" alt="budova skautských klubovnen">
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-narrow">

        <iframe
          id="mapa-klubovna"
          style="width:500px; height:400px"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          src="https://maps.google.com/maps/ms?hl=cs&amp;ie=UTF8&amp;msa=0&amp;msid=109409879313211422941.00047f40681c98464946c&amp;ll=50.198544,15.812298&amp;spn=0.002404,0.00456&amp;z=17&amp;output=embed">
        </iframe>

      </div>
    </div>
  </div>
</div>
