{define title}{$user->username}{/define}
{define description}Podrobnosti uživatele {$user->username}{/define}
{block content}
    <p>Jméno: {$user->name} {$user->surname}</p>
    <p>Přezdívka: {$user->nickname}</p>
    <p>E-mail: {$user->email}</p>
    {if $isLoggedIn && $loggedUser->username == $user->username}
        <h3>Akce:</h3>
        <a n:href=":Core:User:editor $user->username" class="button is-link">Upravit údaje</a>
        <a n:href=":Core:User:changePassword $user->username" class="button is-link">Změnit heslo</a>
        <a n:href=":Core:Session:signOut" class="button is-link">Odhlásit</a>
    {/if}
{/block}