{layout '../../templates/@layout.latte'}
{block header}
<header>
    <nav class="navbar is-family-secondary">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" class="navbar-item is-paddingless">
                    <img src="{$basePath}/img/logo24.svg" />
                    Administrace
                </a>
                <span class="navbar-burger burger" data-target="navbarTop">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </span>
            </div   >
            <div class="navbar-menu" id="navbarTop">
                <div class="navbar-end">
                    <a class="navbar-item sk-menu-item" n:href=":Admin:Article:list">Články</a>
                    <a class="navbar-item sk-menu-item" n:href=":Admin:News:list">Novinky</a>
                    {if $isUserAdmin}
                        <a class="navbar-item sk-menu-item" n:href=":Admin:Web:">Web</a>
                        <a class="navbar-item sk-menu-item" n:href=":Admin:HeaderImages:">Obrázky záhlaví</a>
                        <a class="navbar-item sk-menu-item" n:href=":Admin:User:management">Uživatelé</a>
                    {/if}
                    <a class="navbar-item sk-menu-item" n:href=":Core:Article:">Zpět</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero">
        <div class="hero-body background-hero"
        style="background-image: url('{$basePath}/../../www/img/top/{$headerPicture}')">
            <div class="container">
                <div class="heading-background">
                    <div class="subtitle is-3 has-text-white-ter">Skautský oddíl</div>
                    <div class="title is-2 has-text-white-ter">Čtyřiadvacítka</div>
                </div>
            </div>
        </div>
    </section>
</header>
{/block}
