{define title}Termíny akcí{/define}
{block content}

<div class="section">
  <p class="has-text-centered">
    Schůzky jsou každé pondělí od 17:00 do 18:30.
  </p>
</div>

<skaut-google-events-table
  account="ctyriadvacitka@gmail.com"
  calendarId="Y3R5cmlhZHZhY2l0a2FAZ21haWwuY29t"
  apiKey="AIzaSyDGkCyC7GoIf7S6Bn_rye0kybYvtlJUJ94"
  allKeyword="všichni"
  categories="vlčata,skauti,roveři"
></skaut-google-events-table>

<script type="module" src="https://cdn.jsdelivr.net/npm/@lttr/skaut-google-events-table"></script>

{/block}
