{layout '../../templates/@layout.latte'}
{block header}
<header>
    <nav class="navbar is-family-secondary">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" class="navbar-item is-paddingless">
                    <img src="{$basePath}/img/logo24.svg" />
                </a>
                <span class="navbar-burger burger" data-target="navbarTop">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </span>
            </div>
            <div class="navbar-menu" id="navbarTop">
                <div class="navbar-end">
                    <a class="navbar-item sk-menu-item" n:href=":Core:News:pagedList">Novinky</a>
                    <a class="navbar-item sk-menu-item" n:href=":Core:Events:">Termíny</a>
                    <a class="navbar-item sk-menu-item" n:href=":Core:Photos:">Fotky</a>
                    <a class="navbar-item sk-menu-item"
                        n:foreach="$articlesInMenu as $url => $title" href="{$basePath}/{$url}">{$title}</a>
                    <a class="navbar-item sk-menu-item" n:href=":Core:Contact:">Kontakty</a>
                </div>
            </div>
        </div>
    </nav>
    <section class="hero">
        <div class="hero-body background-hero"
        style="background-image: url('{$basePath}/../../www/img/top/{$headerPicture}')">
            <div class="container">
                <div class="heading-background">
                    <div class="subtitle is-3 has-text-white-ter">Skautský oddíl</div>
                    <div class="title is-2 has-text-white-ter">Čtyřiadvacítka</div>
                </div>
            </div>
        </div>
    </section>
</header>
{/block}
