{define title}Seznam článků{/define}
{define description}Výpis všech článků{/define}
{block content}
    <p class="content">
        <a n:href=":Admin:Article:editor" class="button is-success">Přidat</a>
    </p>
    {snippet articlesTable}
        <table class="table">
            <tr n:foreach="$articles as $article" n:if="$article->requestable || $isUserEditor">
                <td>
                    <strong>{$article->title}</strong><br />
                    {$article->datetime|date:'j. n. Y H:m'}<br />
                    /{$article->url}
                </td>
                <td>
                    <a n:href=":Core:Article: $article->url" class="button is-link">Zobrazit</a>
                </td>
                {if $isUserAdmin || ($loggedUser->username == $article->author)}
                    <td>
                        <a n:href=":Admin:Article:editor $article->url" class="button is-primary">Editovat</a>
                    </td>
                    <td>
                        <a n:href=":Admin:Article:remove $article->url" class="button is-danger">Odstranit</a>
                    </td>
                    <td>
                        {if $article->in_menu}
                            <a n:href="visibleInMenu! $article->url, false" class="button ajax is-success">
                                Zobrazeno v menu
                            </a>
                        {else}
                            <a n:href="visibleInMenu! $article->url, true" class="button ajax is-primary">
                                Nezobrazeno v menu
                            </a>
                        {/if}
                    </td>
                {/if}
            </tr>
        </table>
    {/snippet}
{/block}