.chrono-albums{display:flex;flex-direction:column;margin:1rem auto}.album-heading{text-align:center}.album{position:relative}.photo{margin:0;padding:0;position:absolute;background-color:rgba(0,0,0,.12)}.photo-link{text-decoration:none}.photo-link:hover .photo-image{box-shadow:0 0 3px 1px rgba(0,0,0,.3)}.photo-link:focus .photo-image{box-shadow:0 0 4px 1px rgba(0,0,0,.5)}.photo-image:hover{text-decoration:none}
/*# sourceMappingURL=/style.6303c041.css.map */