{define title}Editor novinek{/define}
{define description}Editor novinek{/define}
{block content}
    {* Formulář pro editaci. *}
    {control newsEditorForm}
    {control articleImagesForm}
    <p>Soubory se objeví v <a href="/prilohy/">prilohy</a></p>
{/block}
{block scripts}
    {include parent}
    <script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('content');
    </script>
{/block}
