{define title}Seznam novinek{/define}
{define description}Výpis všech novinek{/define}
{block content}
    <p class="content">
        <a n:href=":Admin:News:editor" class="button is-success">Přidat</a>
    </p>
    {snippet articlesTable}
        <table class="table">
            <tr n:foreach="$news as $article">
                <td>
                    <strong>{$article->title}</strong><br />
                    {$article->datetime|date:'j. n. Y H:m'}
                </td>
                {if $isUserAdmin || ($loggedUser->username == $article->author)}
                    <td>
                        <a n:href=":Admin:News:editor $article->news_id" class="button is-primary">Editovat</a>
                    </td>
                    <td>
                        <a n:href=":Admin:News:remove $article->news_id" class="button is-danger">Odstranit</a>
                    </td>
                {/if}
            </tr>
        </table>
    {/snippet}
{/block}