{define title}Oprávnění uživatelů{/define}
{define description}Umožní nastavení oprávnění uživatelů{/define}
{block content}
    {snippet userManagementTable}
        <table class="table table-hover table-striped table-condensed table-responsive">
            <tr n:foreach="$users as $u">
                <td>
                    <h2>{$u->username}</h2>
                </td>
                <td>
                    <a n:href=":Core:User: $u->username" class="button is-link">Zobrazit</a>
                </td>
                <td>
                    <a n:href="remove! $u->username" class="ajax button is-danger">Odstranit</a>
                </td>
                <td>
                    <a n:href="changeRole! 'registered', $u->username"
                            class="ajax button {if ($u->role == 'registered')}is-success{else}is-primary{/if}">Uživatel</a>
                    <a n:href="changeRole! 'editor', $u->username"
                            class="ajax button {if ($u->role == 'editor')}is-success{else}is-primary{/if}">Redaktor</a>
                    <a n:href="changeRole! 'admin', $u->username"
                            class="ajax button {if ($u->role == 'admin')}is-success{else}is-primary{/if}">Administrátor</a>
                </td>
            </tr>
        </table>
    {/snippet}
{/block}