{* Latte template *}
{define title}{$article->title}{/define}
{block content}
    {if $isUserEditor}
    <p class="content has-text-right">
        <a n:href=":Admin:Article:editor $article->url" class="button is-primary">
            Editovat
        </a>
    </p>
    {/if}

    <div class="content">
        {$article->content|noescape}
    </div>

    {if $isUserEditor && $article->title == 'Stránka nebyla nalezena'}

        <a n:href=":Admin:Article:editor $originalUrl" class="button is-success">Vytvořit stránku</a>

    {/if}
{/block}