{define title}Články{/define}
{define description}Články s náhledem zobrazené po stránkách{/define}
{block content}
    <article
        n:foreach="$articles as $article"
        n:if="$article->requestable || $isUserAdmin">
        <header class="columns is-gapless">
            <a n:href=":Core:Article: $article->url">
                <h2 class="title is-2">{$article->title}</h2>
            </a>
        </header>
    </article>

    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {if $activePage != 1}
            <a class="pagination-previous"  n:href=":Core:News:pagedList">&lt;&nbsp;Předchozí</a>
        {/if}
        {if $activePage != $pages}
            <a class="pagination-next" n:href=":Core:News:pagedList $pages">Další&nbsp;&gt;</a>
        {/if}
        <ul class="pagination-list">
            {* <li><span class="pagination-ellipsis">&hellip;</span></li> *}
            {*
            <li n:for="$i = 1; $i <= $pages; $i++">
                <a
                {if $activePage == $i}
                    class="pagination-link is-current" aria-current="page"
                {else}
                    class="pagination-link"
                {/if}
                n:href=":Core:News:pagedList $i">{$i}</a>
            </li>
            *}
        </ul>
    </nav>

{/block}
