{define title}Fotky{/define}
{block content}

    <section class="section">
      <style>
        @import url('https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css');
        @import url('https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css');
        @import url('style.6303c041.css');
      </style>
      <div class="chrono-albums"></div>
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
          <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
          </div>
          <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
              <div class="pswp__counter"></div>
              <button class="pswp__button pswp__button--close" title="Zavřít (Esc)"></button>
              <button class="pswp__button pswp__button--share" title="Stáhnout"></button>
              <button class="pswp__button pswp__button--fs" title="Celá obrazovka"></button>
              <button class="pswp__button pswp__button--zoom" title="Zoom"></button>
              <div class="pswp__preloader">
                <div class="pswp__preloader__icn">
                  <div class="pswp__preloader__cut"><div class="pswp__preloader__donut"></div></div>
                </div>
              </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
            </div>
            <button class="pswp__button pswp__button--arrow--left" title="Předchozí"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Další"></button>
            <div class="pswp__caption"><div class="pswp__caption__center"></div></div>
          </div>
        </div>
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/lazysizes@5.1.1/lazysizes.min.js"></script>
      <script src="albums.f0967941.js"></script>
      <script>
        document.querySelector('.chrono-albums').closest('.column').classList.remove('column')
      </script>
    </section>

