{define title}Obrázky záhlaví{/define}
{define description}Obrázky, které se zobrazí na navigací{/define}
{block content}
{snippet headerImages}
    <table class="table">
        <tr n:foreach="$headerImages as $image">
            <td>
                <img src="{$basePath}/www/img/top/{$image}" alt="{$image}">
            </td>
            <td>
                <p>{$image}</p>
                <a class="ajax button is-danger" n:href="remove! $image">Odstranit</a>
            </td>
        </tr>
    </table>
{/snippet}
<h2 class="title is-2">Přidat nové obrázky</h2>
{control addHeaderImagesForm}