{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="cs" />
    <meta name="description" content="Prezentace 24. skautského oddílu z Hradce Králové.
            Najdete zde informace o pořádání letního tábora, dalších akcí během roku a fotky z činnosti oddílu." />
    <meta name="keywords" content="skaut, junák, 24. oddíl, parta, kamarádi, dobrodružství, tábor, kolektiv, dětská organizace" />
    <meta name="author" content="all: Lukáš Trumm (Lukas Trumm); lukas.trumm(at)centrum.cz" />
    <meta name="author" content="all: Matyáš Kroupa (Matyas Kroupa); kroupa.matyas(at)gmail.com" />

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {* Analytics are sent to Lukas' Plausible account *}
    <script defer data-domain="ctyriadvacitka.skauting.cz" src="https://plausible.lttr.cz/js/script.js"></script>

    <title n:snippet="webTitle">{$webName} | {include title|stripHtml}</title>

    {block css}
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&amp;subset=latin-ext"
            media="all"
        />
        <link rel="stylesheet" href="{$basePath}/css/skaut-design.min.css" type="text/css"/>
        <link rel="stylesheet" href="{$basePath}/css/main.css" type="text/css"/>
    {/block}

    {block head}{/block}
</head>

    <body class="sk-clip-path">

    {include header}

    <main>

        <div class="container">
            {* Výpis zpráv.*}
            {snippet flashes}
                {foreach $flashes as $flash}
                    <div class="notification is-{$flash->type}">
                        <button class="delete"></button>
                        {$flash->message}
                    </div>
                {/foreach}
            {/snippet}
        </div>

        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-four-fifths-desktop is-two-thirds-widescreen">
                        <h1 class="title is-1 has-text-centered sk-underline is-blue">{include title}</h1>
                        {include content}
                    </div>
                </div>
            </div>
        </section>

    </main>


    <section class="section has-background-light">
        <div class="has-text-centered">
            <h5 class="title is-5">Čtyřiadvacítku podporuje</h5>

            <div class="columns is-mobile is-centered is-vcentered is-multiline">
                <div class="column is-narrow">
                    <a href="http://www.kr-kralovehradecky.cz/" title="Královéhradecký kraj">
                        <img class="image" src="{$basePath}/img/logo-khk.gif" />
                    </a>
                </div>
                <div class="column is-narrow">
                    <a href="http://www.hradeckralove.org/" title="Město Hradec Králové">
                        <img class="image" src="{$basePath}/img/logo-hk.png" />
                    </a>
                </div>
                <div class="column is-narrow">
                    <a href="http://www.nadacecez.cz/" title="Nadace ČEZ">
                        <img class="image" src="{$basePath}/img/logo-nadace.png" />
                    </a>
                </div>
            </div>
        </div>
    </section>


    <div class="section">
        <div class="container is-flex" style="justify-content: center;">
            <nav class="columns is-multiline is-mobile">
                <div class="column is-narrow">
                    <b class="is-uppercase">Čtyřiadvacítka</b>
                    <ul>
                        <li>
                            <a n:href=":Core:News:pagedList">Novinky</a>
                        </li>
                        <li>
                            <a n:href=":Core:Article:pagedList">Články</a>
                        </li>
                        <li n:foreach="$articlesInMenu as $url => $title">
                            <a href="{$basePath}/{$url}">{$title}</a>
                        </li>
                        <li>
                            <a n:href=":Core:Contact:">Kontakty</a>
                        </li>
                    </ul>
                </div>
                <div class="column is-narrow">
                    <b class="is-uppercase">Organizace</b>
                    <ul>
                        <li><a href="https://skaut.cz">Skaut.cz</a></li>
                        <li><a href="https://rybarny.skauting.cz">Skautské středisko Rybárny</a></li>
                    </ul>
                </div>
                <div class="column is-narrow">
                    <b class="is-uppercase">Administrace</b>
                    <ul>
                        {if !$isLoggedIn}
                            <li class="">
                                <a class="" n:href=":Core:Session:signIn">Přihlásit</a>
                            </li>
                            <li class="">
                                <a class="" n:href=":Core:Session:signUp">Registrovat</a>
                            </li>
                        {else}
                            <li class="">
                                <a class="" n:href=":Core:User: $loggedUser->username">{$loggedUser->username}</a>
                            </li>
                        {/if}
                        {if $isUserEditor && !$isUserAdmin}
                            <li class="">
                                <a class="" n:href=":Admin:Web:view">Administrace</a>
                            </li>
                        {/if}
                        {if $isUserAdmin}
                            <li class="">
                                <a class="" n:href=":Admin:Web:">Administrace</a>
                            </li>
                        {/if}
                    </ul>
                </div>
            </nav>

        </div>
    </div>

    <footer class="footer">
        <div class="content has-text-centered">
            <div class="copyright">
                <p>
                &copy; 2019 &ndash; 24. skautský oddíl <br />
                Junák &ndash; český skaut, středisko Rybárny Hradec Králové, z. s.
                </p>
            </div>
        </div>
    </footer>

    <div class="sk-svg__outer">
      <div class="sk-svg__wrap">
        <svg width="0" height="0">
          <defs>
            <clipPath id="celebrity__img">
              <path
                d="M225.517,214.435c-11.963,10.973 -27.672,17.246 -43.663,20.034c-15.994,2.788 -45.135,2.058 -61.37,2.058c-180.368,0 -108.583,-181.234 -94.887,-202.156c12.813,-19.577 37.316,-29.028 60.524,-31.993c23.207,-2.966 53.86,-3.132 76.42,3.064c95.564,26.247 87.888,107.5 89.031,123.787c2.152,30.67 -3.398,64.425 -26.055,85.206Z"
              ></path>
            </clipPath>
            <clipPath id="celebrity__img__small">
              <path
                d="M170.033,162.832c-9.02,8.273 -20.864,13.003 -32.921,15.105c-12.059,2.102 -34.03,1.552 -46.271,1.552c-135.992,0 -81.868,-136.645 -71.542,-152.419c9.661,-14.761 28.136,-21.887 45.633,-24.122c17.498,-2.236 40.609,-2.362 57.619,2.31c72.052,19.79 66.265,81.051 67.126,93.331c1.623,23.124 -2.561,48.575 -19.644,64.243Z"
              ></path>
            </clipPath>
            <clipPath id="img__1">
              <path
                d="M22.015,188.203c35.151,17.499 136.85,1.367 160.573,-7.843c17.458,-6.78 29.458,-17.808 36.75,-29.527c15.438,-24.819 24.693,-91.987 18.94,-119.497c-1.377,-6.595 -9.353,-20.749 -31.668,-23.8c-14.693,-2.012 -136.847,-16.221 -176.94,0.537c-35.746,14.941 -30.104,118.44 -28.095,136.242c2.034,18.042 8.847,38.118 20.44,43.888"
              ></path>
            </clipPath>
            <clipPath id="img__2">
              <path
                d="M178.164,176.718c-37.266,14.737 -137.244,10.68 -169.297,-46.027c-27.616,-48.857 9.088,-134.847 112.732,-130.535c27.813,1.157 106.538,11.595 115.96,44.604c12.996,45.515 -29.242,120.032 -59.395,131.958"
              ></path>
            </clipPath>
            <clipPath id="img__3">
              <path
                d="M120.548,193.803c59.658,-4.686 113.033,-37.993 119.064,-89.493c7.55,-64.443 -95.691,-138.363 -187.23,-87.237c-61.084,34.119 -63.912,95.16 -33.239,136.019c24.472,32.598 73.627,42.891 101.405,40.711"
              ></path>
            </clipPath>
            <clipPath id="img__4">
              <path
                d="M183.417,6.898c-49.77,-11.772 -125.933,-8.706 -161.22,10.963c-7.844,4.376 -16.951,18.018 -19.868,29.938c-2.919,11.924 -2.849,24.458 -1.141,36.612c7.017,49.91 28.873,74.433 42.625,82.786c11.43,6.943 24.689,10.424 37.968,10.828c56.867,1.721 131.386,-5.411 149.099,-47.05c6.488,-15.25 15.291,-61.248 2.066,-87.494c-9.523,-18.899 -28.934,-31.712 -49.529,-36.583"
              ></path>
            </clipPath>
            <clipPath id="img__4__big">
              <path transform="scale(1.25 0.9)"
                d="M183.417,6.898c-49.77,-11.772 -125.933,-8.706 -161.22,10.963c-7.844,4.376 -16.951,18.018 -19.868,29.938c-2.919,11.924 -2.849,24.458 -1.141,36.612c7.017,49.91 28.873,74.433 42.625,82.786c11.43,6.943 24.689,10.424 37.968,10.828c56.867,1.721 131.386,-5.411 149.099,-47.05c6.488,-15.25 15.291,-61.248 2.066,-87.494c-9.523,-18.899 -28.934,-31.712 -49.529,-36.583"
              ></path>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>

    {block scripts}
        <script type="text/javascript" src="{$basePath}/www/js/vendor.js"></script>
        <script type="text/javascript" src="{$basePath}/www/js/main.js"></script>
    {/block}
</body>
</html>
