article img {
  display: block;
  height: auto !important;
  max-width: 100%;
}

.background-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0 !important;
}

.heading-background {
  background-color: rgba(35, 35, 35, 0.8);
  text-align: center;
  padding: 0.5rem;
  margin: 1rem;
}

@media (min-width: 30em) {
  .heading-background {
    display: inline-block;
    padding: 2.5rem 3rem;
    margin: 3rem;
    clip-path: url('#img__4__big');
  }
}
